<div class="container">
  <h2>Car List</h2>
  <p *ngIf="successMsg" class="success-msg">{{ successMsg }}</p>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of cars">
        <td>{{ car.id }}</td>
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.color }}</td>
        <td>{{ car.price }}</td>
        <td>{{ car.description }}</td>
        <td>
          <img *ngIf="car.imageUrl" [src]="'http://localhost:8080/cars/uploads/' + car.imageUrl" width="80" />
        </td>
        <td>
         <button class="btn-edit" (click)="editCar(car.id)">Edit</button>
         <button class="btn-delete" (click)="deleteCar(car.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
